<div class="tab active flexcol" data-group="primary" data-tab="description">
  {{#if showIdentifyDescription}}
  <nav class="sheet-navigation tabs subtabs description" data-group="description">
    <a class="item active" data-tab="identified">{{localize "PF1.Identified"}}</a>
    <a class="item" data-tab="unidentified">{{localize "PF1.Unidentified"}}</a>
  </nav>
  {{/if}}

  <div class="flexrow description-container">
    <div class="item-properties">
      {{#if isPhysical}}
      {{!-- Quantity --}}
      <div class="form-group">
        <label>{{localize "PF1.Quantity"}}</label>
        <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
      </div>

      {{!-- Weight --}}
      <div class="form-group">
        <label>{{localize "PF1.Weight"}}</label>
        <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
      </div>

      {{!-- Price --}}
      {{#if showIdentifyDescription}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}}</label>
        <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
        <label>{{localize "PF1.UnidentifiedPriceShort"}}</label>
        <input type="text" name="data.unidentified.price" value="{{data.unidentified.price}}" data-dtype="Number"/>
      </div>
      {{else}}
      {{#if showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}}</label>
        <input type="text" name="data.unidentified.price" value="{{data.unidentified.price}}" data-dtype="Number"/>
      </div>
      {{else}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}}</label>
        <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
      </div>
      {{/if}}
      {{/if}}

      {{!-- Hit Points --}}
      <div class="form-group">
        <label>{{localize "PF1.HPShort"}}</label>
        <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number" style="flex: 0 0 32px"/>
        <span>/</span>
        <input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number" style="flex: 0 0 32px"/>
      </div>

      {{!-- Hardness --}}
      <div class="form-group">
        <label>{{localize "PF1.Hardness"}}</label>
        <input type="text" name="data.hardness" value="{{data.hardness}}" data-dtype="Number"/>
      </div>

      {{!-- Carried Flag --}}
      <div class="form-group">
        <label>{{localize "PF1.Carried"}}</label>
        <input type="checkbox" name="data.carried" {{checked data.carried}}/>
      </div>
      {{/if}}

      {{!-- Properties --}}
      <ol class="properties-list">
        {{#each itemProperties}}
        <li>{{this}}</li>
        {{/each}}
      </ol>
    </div>

    {{#if showIdentifyDescription}}
    <section class="description-body">
      <div class="tab description-group flexcol" data-group="description" data-tab="identified">
      {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
      </div>

      <div class="tab description-group flexcol" data-group="description" data-tab="unidentified">
      {{roll-editor content=data.description.unidentified target="data.description.unidentified" button=true owner=owner editable=editable}}
      </div>
    </section>
    {{else}}
    {{#if showUnidentifiedData}}
    {{roll-editor content=data.description.unidentified target="data.description.unidentified" button=true owner=owner editable=editable}}
    {{else}}
    {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    {{/if}}
    {{/if}}
  </div>
</div>
